@import url('https://fonts.googleapis.com/css?family=Kalam|Questrial&display=swap');

body{
  height: 100vh;
  margin: 0px;
  font-family: 'Questrial', sans-serif;
  background: url('img/memphis-mini.png');
}
header {
  top: 0;
  left: 0;
  background-color: #0984e3;
  color: white;
  position: relative;
}
header p {
  text-align: center;
  color: white;
  font-size: 1em;
  margin-top: 0px;
  padding-top: 0px;
}
#title {
  font-family: 'Kalam', cursive;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}
main {
  margin: 50px auto;
  max-width: 980px;
  padding: 25px;
  background-color: whitesmoke;
  border-radius: 6px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
img {
  width: 31.2%;
  display: inline-block;
  padding: 3px;
  align-content: center;
  background-color: #0984e3;
  border-radius: 6px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

main h1{
  text-align: center;
  color: #555;
}
#click_counter {
  float: right;
}
canvas {
  background-color: white;
}
#list-item {
  text-transform: capitalize;
}
#reset {
  float: left;
  padding: 10px;
  /* display: block; */
  border-radius: 4px;
  border: none;
  background-color: #de2924;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: 1s;

}
#reset:hover {
  background-color: white;
  border: 2px solid #de2924;
  color: #de2924;
  padding: 15px;
  font-weight: bold;
}
#clear {
  padding: 10px;
  margin-left: 8px;
  border-radius: 4px;
  border: none;
  background-color: #ffca28;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: 1s;

}
#clear:hover {
  background-color: white;
  border: 2px solid #ffca28;
  color: #ffca28;
  padding: 15px;
  font-weight: bold;
}

main h1 {
  text-align: center;
  font-family: 'Kalam', cursive;
}
p {
  font-size: 1.1em;
  border-radius: 4px;
  padding: 15px;
  text-indent: 5%;
  color: #555;
} 

footer {
  background-color: #0984e3;
  color: white;
  clear: both;
  left: 0;
  bottom: 0;
  position: relative;
  margin-top: 110px;
  text-align: center;
  padding: 30px;
}
a{
  color: white;
  text-decoration: none;
}